h1 {
  font-size: 100px;
  color: white;
}

h2 {
  font-size: 40px;
}

p {
  font-size: 20px;
}

address {
  font-style: normal; /* убирает italic от браузера */
}

.navigation-item, 
.nav-text {
  font-size: 18px;
}

.link {
  text-decoration: underline;
}

.header {
  display: grid;
  grid-template-columns: 1fr 148px 1fr;
  align-items: center;
  padding: 100px 50px ;
}

.navigation-list {
  display: flex;
  list-style: circle;
  gap: 30px;
}

.navigation-item:first-child {
  list-style: none;
}

.header-address {
  max-width: 240px;
  justify-self: end;

}

.cover {
  position: relative;
  background-image: url(/images/cover.jpg);
  background-size: cover;
  z-index: 0;
  padding: 50px;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 1;
  z-index: -1;
}

.cover-heading {
  padding:  115px 0 106px;
  display: grid;
  gap: 20px;
}

.first-heading {
  line-height: 115%;
  letter-spacing: 30px;
}

.second-heading {
  line-height: 115%;
  justify-self: center;
  letter-spacing: 30px;
}

.third-heading {
  line-height: 115%;
  justify-self: end;
  letter-spacing: 30px;
}

.description {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cta-text {
  font-size: 22px;
  color: #fff;
  word-spacing: 20px;
}

.bid-button {
  padding: 12px 32px;
  color: #fff;
  background: none;
  border: 1px solid #fff;
  font-size: 22px;
}

.lots {
  margin-top: 180px;
}

.lots__heading, .more {
  margin-left: 64px;
}

.lots-list {
  list-style: none;
  display: flex;
  gap: 24px;
  padding: 24px;
  flex-wrap: nowrap;
}

.lots-item {
  position: relative;
  height: 596px;
  width: 334px;
  display: flex;
  flex-direction: column;
  padding: 48px 40px;

}

.lots-heading {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: bold;
  color:#fff;
  height: 100%;
}

.lots-text {
  color: #fff;
  font-size: 20px;
  line-height: 1.2;
}

.lots-item:first-child {
  background-image: url(/images/card-lot-01.jpg);
  background-size: cover;
  z-index: 0;
}

.lots-item:nth-child(2) {
  background-image: url(/images/card-lot-02.jpg);
  background-size: cover;
  z-index: 0;
}

.lots-item:nth-child(3) {
  background-image: url(/images/card-lot-03.jpg);
  background-size: cover;
  z-index: 0;
}

.about-auction {
  display: grid;
  grid-template-columns: 334px 1fr;
  margin-top: 120px;
  padding: 24px;
  gap: 24px;
}

.about__logo {
  display: grid;
  place-items: center;
  height: 240px;
  width: 240px;
  background-color: #000;
  border-radius: 100%;
  margin: 35px 0 0 0;
  justify-self: center;

}

.logo-white {
  width: 148px;
  justify-self: center;
  align-self: center;
}

.about__title {
  margin: 100px 0;
}

.about__text {
  line-height: 1.2;
}

.about-description:nth-child(3) {
  margin-bottom: 24px;
}

.about-margin-text {
  margin-bottom: 24px;
}

footer {
  margin: 180px 0px 82px 0px;
  display: flex;
  justify-content: space-between;
}

.social-item {
  width: 48px;
}

.social-list {
  display: flex;
  list-style: none;
  gap: 48px;
}

.footer-navigation-list {
  flex-direction: column;
  gap: 0px;
  list-style: none;
  align-items: center;
}
